apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: secretstore
  namespace: default
spec:
  type: secretstores.kubernetes
  version: v1
  metadata:
  # No additional metadata required for Kubernetes secret store
  # It automatically uses the service account's permissions
